
body 		{
	margin:0px;
	padding:0px;
}

.btn-primary, .bg-primary {
	background-color:#e4eaa7;
}

#brand-logo {
	border:solid white 2px;width:40px; height:40px; position:relative; top:-5px; text-align:center; vertical-align:middle; border-radius:10%;
}

#toggler-btn {
	/*position:relative; top:-5px; */
}
#header-div {
	background-color:#e4eaa7; position:relative; top:0px; height:45px; z-index:10;
}

.navbar {
	height:45px; position:relative; top:0px;
}

#pry-nav {
	position:absolute; top:0px; left:5%; width:80vw;
}
/*
#sec-nav {
	display:flex; flex-direction:column; position:relative; top: -15px; 
}
*/

.link-buttons .nav-link {
	font-size:15px; padding:2px;
}

#showcase {
	line-height: 20px; display:flex; flex-direction:column; justify-content:center; align-items:center;
	text-align: center; background-color:#bed7e5; height:100vh;  position:relative; top: -68px;
}

#footer-div {
	background-color:#e4eaa7; height:45px; display:flex; flex-direction:row; justify-content: center; align-items:center;
}

img	{
	height:66px; width:5%; position:relative; left:9px; top:3px;  border:none; float:left;
}

#content-area {
	/*background-color:red; */ position:relative; top:0px; padding:70px 0px 0px 0px; 
}

#main-page {
	position:relative; top:-68px;
}

#reg-lecturer-form-group {
	position:absolute; top:-2px; right:-90px; z-index:4;
}

#reg_lec_form {
	position:relative; top:-30px;
}

#main-content-area {
	background-color:#acacbb; height:100vh; padding:50px 10px; display:grid; grid-template-columns: 100%; justify-items:center;
}

#side-bar {
	background-color:#ccddaa; height:100vh; padding:50px 10px;
}

p#validation-notice {
	visibility:hidden; border:1px solid red;
}
/*
#welcome-note {
	text-align:center;
}
*/
/*
#modificationNotice {
	font-weight:bold; position:relative; top:8px;
}
*/
.fail-validation {
	 border: 1px solid red;
}

#ajax_busy, #ajax_neutral	{
					background-color:#9db7c0; position:absolute; left:5px; top:150px; z-index:3;
}

.graded[value="yes"], .show-item, #ajax_busy	{
				visibility:visible;
}

.graded[value="NO"], .hide-item, #ajax_neutral	{
				visibility:hidden;
}
