
body 		{
			margin:0px;
}

img	{
	height:66px; width:5%; position:relative; left:9px; top:3px;  border:none; float:left;
}

#ajax_busy, #ajax_neutral	{
					background-color:#9db7c0; position:absolute; left:5px; top:150px; z-index:3;
}

.graded[value="yes"], ._show, #ajax_busy	{
				visibility:visible;
}

.graded[value="NO"], .js_hide, #ajax_neutral	{
				visibility:hidden;
}
